<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>695554666673-msdu7iv0aq5rk3f2am3ip6cmvp9is6vi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695554666673-msdu7iv0aq5rk3f2am3ip6cmvp9is6vi</string>
	<key>API_KEY</key>
	<string>AIzaSyD17H9yoxjQ2vPTmKPnl4qSE7mgGtF8Pjk</string>
	<key>GCM_SENDER_ID</key>
	<string>695554666673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ezke.Rsapp</string>
	<key>PROJECT_ID</key>
	<string>rsapp-5796d</string>
	<key>STORAGE_BUCKET</key>
	<string>rsapp-5796d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695554666673:ios:816e6a01baffe1da</string>
	<key>DATABASE_URL</key>
	<string>https://rsapp-5796d.firebaseio.com</string>
</dict>
</plist>